.popup {
  display: flex;
  background-color: rgb(32, 33, 36);
  height: 250px;
  width: 300px;
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
  flex-direction: column;
  border: solid 1px white;
  margin: 0;
  min-height: 83px;
  max-height: 700px;
  resize: vertical;
  align-content: center;
  opacity: 0.6;
}

.popup__container {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: 20px;
  margin: 8px 0 0 8px;
  flex-wrap: wrap;
}

.popup__positioning {
  border: 1px white solid;
  padding: 0;
  width: 10px;
  height: 10px;
  margin: 0;
  background-color: rgb(32, 33, 36);
}

.popup__positioning:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__drag {
  width: 150px;
  height: 1px;
  background-color: white;
  cursor: move;
  display: flex;
  padding: 2px;
  position: fixed;
  margin: 0px 55px 12px 75px;
}

.popup__drag:hover {
  opacity: 0.8;
}

.popup__close {
  width: 20px;
  height: 20px;
  align-self: flex-start;
  position: fixed;
  margin: 8px 8px 0px 272px;
}

.popup__close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__settings {
  height: 30px;
  width: 30px;
  align-self: flex-end;
}

.card {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.card__name {
  color: color;
  background-color: rgb(32, 33, 36);
  padding-left: 5px;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
}

.card__thumbs {
  width: 40px;
  height: 40px;
  background-color: rgb(32, 33, 36);
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.card__thumbs:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__image {
  width: 30px;
  height: 30px;
}
